.logo {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 38px;
  line-height: 46px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: white;
}
.customNav {
  position: fixed;
  width: 100%;
  background-color: #2b2b2b !important;
  background-size: cover;
  z-index: 10;
}

.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}
.nav-item {
  margin: 0px 15px;
}
.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}
.nav-item {
  margin: 0px 15px;
}

/* Navigation dropdown menu */
.dropdown-menu {
  background-color: #2b2b2b !important;
  background-size: cover;
}
.dropdown-item:focus,
.dropdown-item:hover {
  color: #16181b;
  text-decoration: none;
  background: rgb(15, 15, 15);
}
.nav-item .active a {
  color: #addcff;
}

/* Navigation links */
.customNav a {
  color: white !important;
}

.customNav a:hover {
  color: #addcff !important;
}
.navCTA {
  font-size: 15px;
}

/* buttons */
.heroButtons {
  font-family: lato;
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-top: 40px;
  padding-bottom: 65px;
}

#primaryButton {
  background-color: #2b2b2b;
  width: 210px;
  height: 54px;
  right: 526px;
  top: 598px;
  border-radius: 21px;
  color: white;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.06em;
}

Button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

Button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#primaryButton:hover {
  background: linear-gradient(90deg, #151a6a -28.74%, #7facfa 214.37%);
  box-sizing: border-box;
  box-shadow: 0px 5.57698px 15.8014px rgba(0, 0, 0, 0.27);
  border-radius: 21px;
}

Button:hover span {
  padding-right: 16px;
}

Button:hover span::after {
  opacity: 1;
  right: 0;
}

.hero {
  margin-top: 250px;
}
.animation {
  margin-top: 150px;
}
.greeting {
  margin-bottom: 40px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 120px;
}
.sectionHeader {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-family: Montserrat;
  font-weight: lighter;
  font-weight: 100;
  font-size: 42px;
  line-height: 46px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #2b2b2b;
}
#doeHeader {
  color: rgb(20, 20, 20);
  font-family: lato;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 0.035em;
  text-transform: capitalize;
  margin-bottom: 30px;
}

#bodyCopy {
  color: rgb(20, 20, 20);
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 136%;
  margin-bottom: 30px;
}

#headline {
  max-width: 600px;
  padding-left: 80px;
  margin-top: 120px;
}

.col {
  margin-bottom: 30px;
}
ul {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.06em;
}
.icons {
  display: flex;
  flex-direction: row;
}

ul {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.06em;
}
#uxDesign {
  padding-left: 100px;
  padding-right: 100px;
}

#visualDesign {
  padding-left: 250px;
  padding-right: 100px;
}

#motionGraphics {
  padding-left: 250px;
  padding-right: 100px;
}
#animation {
  padding-left: 80px;
}
#visual {
  padding-left: 60px;
}
#ux {
  padding-left: 60px;
}
.button1 {
  padding-left: 20px;
}
.button3 {
  padding-left: 40px;
}
#primaryButton {
  background-color: #2b2b2b;
  width: 210px;
  height: 54px;
  right: 526px;
  top: 598px;
  border-radius: 21px;
  color: white;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.06em;
}

Button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

Button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#primaryButton:hover {
  background: linear-gradient(90deg, #151a6a -28.74%, #7facfa 214.37%);
  box-sizing: border-box;
  box-shadow: 0px 5.57698px 15.8014px rgba(0, 0, 0, 0.27);
  border-radius: 21px;
}

Button:hover span {
  padding-right: 16px;
}

Button:hover span::after {
  opacity: 1;
  right: 0;
}
#secondaryButton {
  width: 210px;
  height: 54px;
  right: 526px;
  top: 598px;
  background-color: rgb(255, 255, 255);
  border-radius: 21px;
  color: #2b2b2b;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.03em;
}

#secondaryButton:hover {
  color: #151a6a;
  background: linear-gradient(
    270deg,
    rgba(11, 107, 179, 0.13) 0%,
    #7facfa 120.96%
  );
  border: 2.1517px solid rgba(165, 170, 249, 0.38);
  box-sizing: border-box;
  box-shadow: 0px 5.57698px 15.8014px rgba(0, 0, 0, 0.27);
  border-radius: 21px;
}
